body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    color: #333;
}

h2 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #FFA500; /* orange */
    color: white;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.winner-announcement {
    text-align: center;
    margin-top: 30px;
}

.winner-announcement h3 {
    color: #FF5722; /* dark orange */
    margin-bottom: 10px;
}

.winner-announcement img {
    margin-top: 20px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #FFC107; /* yellow */
}
