/* Resetting default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

/* Container styles */
/* Container styles */
.container {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 5px solid chartreuse; /* Add solid dark blue border */
}

/* Heading styles */
h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

/* Input box styles */
.input-box {
  margin-bottom: 20px;
}

.input-box label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.input-box input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

/* Gender title styles */
.gender-title {
  display: block;
  margin-bottom: 10px;
  color: #333;
}

/* Gender category styles */
.gender-category input[type="radio"] {
  display: none;
}

.gender-category label {
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}

.gender-category label:before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  border: 2px solid #333;
  border-radius: 50%;
  vertical-align: middle;
}

.gender-category input[type="radio"]:checked + label:before {
  background-color: #333;
}

/* Form group styles */
.form-group {
  margin-bottom: 20px;
}

.label-agree-term {
  display: block;
  position: relative;
  padding-left: 25px;
  font-size: 14px;
  color: #333;
  cursor: pointer;
}

.label-agree-term span {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.label-agree-term span::before,
.label-agree-term span::after {
  content: '';
  position: absolute;
  width: 18px;
  height: 3px;
  background-color: #333;
  transition: all 0.3s;
}

.label-agree-term span::before {
  top: 0;
}

.label-agree-term span::after {
  bottom: 0;
}

.agree-term:checked + .label-agree-term span::before {
  width: 0;
}

.agree-term:checked + .label-agree-term span::after {
  width: 10px;
  transform: rotate(-45deg);
}
.button-container{
	margin: 15px o;
	
}
.button-container button{
	width: 100%;
	margin-top: 10px;
	padding: 10px;
	display: block;
	font-size: 20px;
	color: #fff;
	border: none;
	border-radius: 5px;
	background-image: linear-gradient(to right, #aa076b,#61045f);
}
.button-container button:hover{
	background-image: linear-gradient(to right, #61045f,#aa076b );
}
